.columns > div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.columns img {
  width: 100%;
  overflow: clip;
  border-radius: 1.5em;
}

.columns h2 {
  font-size: 1.5em;
  color: #003291;
  position: relative;
}

.columns p {
  font-size: 0.8em;
  color: #003291;
}

.columns a {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.columns .button-container {
  margin-top: auto;
  margin-bottom: 0;
}

.columns > div > div {
  order: 1;
  display: flex;
  flex-direction: column;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 16px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
